.OuterOuterContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}



.OuterContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 500px;
}

.ImageContainer{
    width: 400px;
    height: 400px;
}

.CardContainer{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.TitleStyle{
    font-size: 20px;
    font-weight:bold;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 20px;
}

.DescriptionStyle{
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.QtyField{
        display: flex;
        flex-direction: row;
        padding-left: 10px;
}

